@using System.Data;
@{
    ViewBag.Title = "WeekPC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="app">
    <div class="row">
        <div id="lastw" class="col-md-2">上一周</div>
        <div class="col-md-8"></div>
        <div id="nextw" class="col-md-2">下一周</div>
    </div>
    <table id="GZtable" class="table table-bordered,table table-hover">
        <tr>
            <td id="h_week" colspan="7">第{{week}}周工作安排</td>
        </tr>
        <tr>
            <td col-md-1>状态</td>
            <td col-md-1>时间</td>
            <td col-md-1>分类</td>
            <td col-md-4>主题</td>
            <td col-md-2>时间</td>
            <td col-md-2>地点</td>
            <td col-md-1>优先级</td>
        </tr>
        <tr v-for="(item, index) in list" :key="index" :id="index" :class="{ nowweek: item.ws }">
            <td :class="{ activeb: (item.cs=='black'), activeg: (item.cs=='green'), activer: (item.cs=='red') }">{{item[0]}}</td>
            <td>{{item[5]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[6]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[0]}}</td>
        </tr>
    </table>
    <table id="GZJH" class="table table-bordered,table table-hover">
        <tr>
            <td id="jh_week" colspan="5">
                工作计划
            </td>
        </tr>
        <tr>
            <td col-md-2>时间</td>
            <td col-md-1>分类</td>
            <td col-md-5>主题</td>
            <td col-md-2>地点</td>
        </tr>
        <tr v-for="(item, index) in list" key="index" id="index" class="{ nowweek: item.ws }">
            <td>{{item[5]}}</td>
            <td>{{item[4]}}至{{item[5]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
        </tr>
    </table>
</div>



<style>
    .table {
        margin-bottom:0px;
    }
    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border: 2px solid black;
    }

    .t_table {
        border: 1px solid #e9ecef;
        background-color: antiquewhite;
    }

    .nowweek {
        background-color: #fcf8e3;
    }

    .activeb {
        color: black;
    }

    .activer {
        color: red;
    }

    .activeg {
        color: #6cc149;
    }

    .row {
        margin-top: -1px;
        margin-right: -1px;
        margin-left: -1px;
    }

    #lastw, #nextw {
        background-color: hsla(78, 43%, 82%, 1);
        border-top: 2px solid #000000;
        border-left: 2px solid #000000;
        border-right: 2px solid #000000;
        color: #000000;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
    }

        #lastw:hover {
            background-color: #4CAF50; /* Green */
            color: white;
        }

        #nextw:hover {
            background-color: #4CAF50; /* Green */
            color: white;
        }

        #lastw:active {
            background-color: #3e8e41;
            box-shadow: 0 -1px #666;
            transform: translateY(2px);
        }

        #nextw:active {
            background-color: #3e8e41;
            box-shadow: 0 -1px #666;
            transform: translateY(2px);
        }

    #nextw {
        float: right;
    }

    tr, td {
        text-align: center;
    }
    #jh_week {
        font-size: 32px;
        border-top: 2px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
    #h_week {
        font-size: 32px;
        border: 2px solid black;
    }
</style>
<script>
    var c = 1;
    new Vue({
        el: '#app',
        data: {
            list2:[],
            week: '8',
            list: [],
        },
        created() {
            this.week = @Request.QueryString["week"];
            var a= '';

            var self =this;
            $.ajax({
                url: '@Href("~/")GZPC/Conget'+ "?week=" +self.week,
                type: 'post',
                success: function (data) {
                    console.log(data.xx);
                    self.list = data.xx
                }
            });

            //this.check();
            this.getWeekOfYear()
            this.weekOfYear(2018,4,6)

        },
        methods: {
            check() {
                var str = "周" + "日一二三四五六".charAt(new Date().getDay());
                var w = this.list[0].time1
                var len = this.list.length
                //for (var i = 0; i < len; i++) {
                //    if (this.list[i].status == '调整') {
                //        this.list[i].cs = 'green'
                //    } else if ((this.list[i].status == '正在进行' || this.list[i].status == '新增')) {
                //        this.list[i].cs = 'red'
                //    } else {
                //        this.list[i].cs = 'black'
                //    }
                //    if (this.list[i].time1 == str) {
                //        this.list[i].ws = true
                //    } else {
                //        this.list[i].ws = false
                //    }
                //}
            },
             weekOfYear(year, month, day){   
                //   year       年   
                //   month     月   
                //   day         日   
                //   每周从周日开始   
                var   date1   =   new   Date(year,   0,   1);   
                var   date2   =   new   Date(year,   month-1,   day,   1);   
                var   dayMS   =   24*60*60*1000;   
                var   firstDay   =   (7-date1.getDay())*dayMS;   
                var   weekMS   =   7*dayMS;   
                date1   =   date1.getTime();   
                date2   =   date2.getTime();   
                var a=Math.ceil((date2-date1-firstDay)/weekMS)+1;   
                console.log(a)
                var weekArray = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
                var week = weekArray[new Date("2018/04/09").getDay()];// 
                console.log(week)
                },
             getWeekOfYear(){
                 var today = new Date();
                var firstDay = new Date(today.getFullYear(),0, 1);
                var dayOfWeek = firstDay.getDay(); 
                var spendDay= 1;
                if (dayOfWeek !=0) {
                    spendDay=7-dayOfWeek+1;
                }
                firstDay = new Date(today.getFullYear(),0, 1+spendDay);
                var d =Math.ceil((today.valueOf()- firstDay.valueOf())/ 86400000);
                var result =Math.ceil(d/7);
                console.log("本周：" + (result+1))
            }
        }
    })

    var w = $('#0').children().eq(1).text();
    var fw = 0;//首个原ID
    var rows = document.getElementById('GZtable').rows;
    for (var i = 1; i < rows.length - 1; i++) {
        if ($('#' + i).children().eq(1).text() != w) {
            w = $('#' + i).children().eq(1).text()
            if (c != 1) {
                $('#' + fw).children().eq(1).attr("rowspan", c).css("vertical-align", "middle").addClass("t_table");
                //("移除的ID:" + ('#' + (fw + 1)))
                for (var j = 1; j < c; j++) {
                    $('#' + (fw + j)).children().eq(1).remove();//要移除的内容
                }
            }
            fw = i //原ID改变
            c = 1 //行数归1
        } else {
            c++
            if (i == (rows.length - 2)) {
                $('#' + fw).children().eq(1).attr("rowspan", c).css("vertical-align", "middle").addClass("t_table");
                for (var j = 1; j < c; j++) {
                    $('#' + (fw + j)).children().eq(1).remove();
                }
            }
        }
    }


</script>